body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
	background-color:green;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
	
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#newsRotator {
    margin-top: 20px;
    font-style: italic;
    color: #555;
	background-color:yellow;
}
